<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>


<section id="todoapp">
    <header id="header">
        <h1>todos</h1>
        <input id="new-todo" placeholder="What needs to be done?" autofocus type="text">
    </header>

    <section id="main">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>

        <ul id="todo-list"></ul>
    </section>

    <footer id="footer"></footer>
</section>

<div id="info">
    <p>Double-click to edit a todo</p>
</div>


<script id="item-template" type="text/template">
    <div class="view">
        <input class="toggle" type="checkbox" <%= completed ? 'checked="checked"' : '' %> >
        <label><%- title %></label>
        <button class="destroy" type="button">Destroy</button>
    </div>

    <input class="edit" value="<%- title %>" type="text">
</script>

<script id="stats-template" type="text/template">
    <span id="todo-count">
        <strong>
            <%= remaining %>
        </strong>
        <%= remaining === 1 ? 'item' : 'items' %> left
    </span>

    <ul id="filters">
        <li>
            <a class="selected" href="#/">All</a>
        </li>
        <li>
            <a href="#/active">Active</a>
        </li>
        <li>
            <a href="#/completed">Completed</a>
        </li>
    </ul>

    <% if (completed) { %>
        <button id="clear-completed" type="button">
            Clear completed (<%= completed %>)
        </button>
    <% } %>
</script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.14/backbone.localStorage-min.js"></script>

        <script src="scripts/models/TodoModel.js"></script>
        <script src="scripts/collections/TodosCollection.js"></script>
        <script src="scripts/views/TodosView.js"></script>
        <script src="scripts/views/AppView.js"></script>
        <script src="scripts/routers/Router.js"></script>

        <script src="scripts/app.js"></script>
    </body>
</html>
